/* 基本样式 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.friend-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 2vw;
}

.friend-back {
    width: 100%;
    height: auto;
    max-width: 1450px;
    max-height: 700px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.background {
    position: relative;
    background-image: url("../img/进度条背景.jpg");
    padding: 2vw;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.profile-avatar {
    position: absolute;
    top: 65vw;
    left: 90vw;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.avatar {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    margin-right: 1vw;
}

.nickname {
    font-size: 4vw;
    font-weight: bold;
}

.nickname1 {
    font-weight: bold;
    position: absolute;
    font-size: 4vw;
    top: 72vw;
    left: 80vw;
}

.posts {
    background-color: #a9a38b;
    padding: 1.5vw;
    border-radius: 8px;
    margin-top: 2vw;
    width: 95%;
    max-width: 600px;
}

.post {
    background-color: #c6b799;
    padding: 1vw;
    border-radius: 8px;
    margin-bottom: 2vw;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-image {
    width: 100%; /* 调整图片大小 */
    max-width: 40vw;
    height: auto;
    margin-bottom: 1vw;
    border-radius: 8px;
    position: relative;
    top: -7vw;
    left: -40vw;
}

.post-text {
    font-size: 2.5vw;
    position: relative;
    top: 46vw;
    left: -18.5vw;
}

.post-text1,
.post-text2,
.post-text3,
.post-text4,
.post-text5,
.post-text6,
.post-text7,
.post-text8 {
    font-size: 4vw;
    position: relative;
    top: -6vw;
}

.interaction {
    display: flex;
    justify-content: right;
    margin-top: 1vw;
}

.like-button,
.comment-button {
    background-color: #a9a38b;
    font-size: 3.5vw;
    color: black;
    border: none;
    padding: 0.8vw 1.6vw;
    border-radius: 0.4vw;
    margin: 0 0.5vw;
    cursor: pointer;
    width: 15vw;
    height: 8vw;
}

.like-button:hover,
.comment-button:hover {
    background-color: #84aebf;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
    margin-top: 5%;
}

.close {
    position: absolute;
    top: 1.5vw;
    right: 3.5vw;
    color: #f1f1f1;
    font-size: 4vw;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.post-image {
    cursor: pointer;
}

.music-controls {
    position: fixed;
    top: 1.5vw;
    right: 15vw;
    z-index: 2;
}

.music-controls audio {
    width: 20vw;
}

.comments-section {
    margin-top: 1vw;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;
}

.comment-avatar {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
}

.comment-text {
    font-size: 2.5vw;
}

.likes-comments {
    margin-top: 1vw;
}

.likes-list {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}

.like-avatar {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin-right: 0.5vw;
}

@media (max-width: 600px) {
    .profile-avatar {
        top: 60vw;
        left: 80vw;
        width: 15vw;
        height: 15vw;
    }

    .nickname1 {
        top: 68vw;
        left: 70vw;
    }

    .post-image {
        top: -6vw;
        left: -35vw;
    }

    .post-text {
        top: 42vw;
        left: -17vw;
    }
}



