/* 基本样式 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.friend-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.friend-back {
	width: 1450px;
	height: 700px;
}
.background {
    position: relative;
    background-image: url("../img/进度条背景.jpg");
    padding: 20px;
    width: 100%;
	height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

}

.profile-avatar {
    position: absolute;
    top: 650px;
    left: 1300px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
	font-size: 40px;
    font-weight: bold;
}
.nickname1 {
    font-weight: bold;
	position: absolute;
	font-size: 40px;
	top: 720px;
	left: 1150px;
}

.posts {
    background-color: #a9a38b;
    padding: 15px;
    border-radius: 8px;
}

.post {
    background-color: #c6b799;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-image {
    width: 100%; /* 调整图片大小 */
    max-width: 400px;
	height: 100%;
	max-height: 550px;
    margin-bottom: 10px;
    border-radius: 8px;
	position: relative;
	top: -70px;
	left: -370px;           	
}

.post-text {
	font-size: 25px;
	position: relative;
	top: 460px;
	left: -185px;
}

.post-text1 {
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -210px;
}
.post-text2 {
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -370px;
}
.post-text3 {
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -270px;
}

.post-text4{
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -300px;
}
.post-text5{
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -410px;
}
.post-text6{
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -370px;
}
.post-text7{
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -330px;
}
.post-text8{
	font-size: 40px;
	position: relative;
	top: -60px;
	left: -350px;
}
.interaction {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.like-button,
.comment-button {
    background-color: #a9a38b;
	font-size: 35px;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
	width: 150px;
	height: 80px;
}

.like-button:hover,
.comment-button:hover {
    background-color: #84aebf;
	
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
    margin-top: 5%;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.post-image {
    cursor: pointer;
}
.music-controls {
    position: fixed;
	top: 15px;
	left: 1350px;
    z-index: 2;
}
.music-controls audio {
    width: 200px;
}
.comments-section {
    margin-top: 10px;
}
.comment {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.comment-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
	margin-right: 10px;
}
.comment-text {
    font-size: 25px;
}
 .likes-comments {
    margin-top: 10px;
}
.likes-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.like-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}




